/*removing margins and padding on the document*/
*{
    margin: 0;
    padding: 0;
}

/*Logo and menu slashes positioning*/
header{
    height: 10%;
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5%;
}

/*Size change for the slashes*/
h3{
    font-size: 40px;
    font-family: 'questrial', sans-serif;
}

/*Adding the document background and setting the font*/
body{
    background: url(bckgrnd.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'raleway', sans-serif;
    color: white;
}

/*Section grid that holds the rest of the content apart from the header*/
section{
    height: 90vh;
    display:grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 1fr;
}

/*container for the image of me*/
.hero{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    transition: 0.2s ease-in-out;
}

/*slight changes to the appearance of my picture*/
.hero img{
    border-radius: 10px;
    animation: rotate 7s ease-in infinite;
    height: 60vh;
}

/*navigation*/
nav{
    grid-column: 4/5;
    text-align: right;
    align-self: center;
}

/*removing the bullet points and adjusting the position using top margin*/
ul{
    list-style-type: none;
    margin-top: 25%;
}

/*adjusting the font size and adding extra space in between the links*/
li{
    margin: 0 0 25% 0;
    font-size: 1.5rem;
}

/*separate colours to differentiate which page is being viewed*/
li a{
    text-decoration: none;
    color: rgb(104, 104, 104);
    transition: 0.1s ease-in-out;
}

li.active a{
    color: white;
}

/*container for the description and icons; grid used for positioning everything within the container*/
.details{
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 16vh 24vh;
}

/*weight changed to differentiate b=the type of content it represents; text aligned to the left*/
p{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    font-size: 27px;
    font-weight: 200;
}

/*top margin to bring the h1 closer toward the paragraph and icons; as well as a font size change*/
h1{
    margin: 57% 0 0 0;
    grid-row: 1/2;
    font-size: 70px;
}

/*adjusting the positioning and size of the icons*/
.twt, .insta, .git{
    grid-column: 1/2;
    grid-row: 3/4;
    height: 50px;
    opacity: 0.6;
    transition: 0.1s ease-in-out;
}

/*right margin used to create space between the icons*/
.twt, .git{
    margin: 0 34% 0 0;
}

/*transition for when the cursor hovers over a particular icon*/
.git:hover, .twt:hover, .insta:hover{
    opacity: 1;
    transition: 0.1s ease-in-out;
}

/*transition for when the cursor hovers over the picture of me*/
.hero:hover{
    filter: hue-rotate(90deg);
    transition: 0.2s ease-in-out;
}

/*transition for when the cursor hovers over one of the nav links*/
li a:hover{
    font-size: 30px;
    color: white;
    transition: 0.2s ease-in-out;
}

/*ongoing animation used on my picture*/
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

@media(max-width: 1259px){
    body{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        background: linear-gradient(-135deg, #170e10, #6f0a88);
    }

    header{
        height: 10vh;
        width: 90%;
        margin: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin-top: 2.5%;
    }

    section{
        height: 90%;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 50vh 1fr 5vh;
    }

    .hero{
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: center;
        justify-self: center;
        transition: 0.2s ease-in-out;
    }

    .hero img{
        border-radius: 5px;
        animation: rotate 7s ease-in infinite;
        height: 25vh;
    }

    nav{
        margin: 0 0 0 0%;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }

    ul{
        margin: 0 0 0 0;
        display: flex;
    }

    li{
        margin: 0 0 0 0;
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
    }

    .details{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30%;
    }

    h1{
        display: flex;
        grid-row: 1/2;
        font-size: 5vh;
        margin: 10% 0 0 0%;
        justify-self: center;
    }

    p{
        display: flex;
        font-size: 2.5vh;
        grid-row: 2/3;
        text-align: center;
        justify-self: center;
        align-self: center;
        margin: 0 5%;
    }

    .icons{
        margin: 10% 0% 0 0;
        justify-self: center;
        grid-column: 1/2;
        grid-row: 3/4;
        opacity: 0.6;
        transition: 0.1s ease-in-out;
    }

    .twt, .git, .insta{
        height: 30px;
    }

    .twt, .git{
        margin: 0 0% 0 0;
    }
}